*~
*.swp
__pycache__
autoortho.log
out.dds
/cache
**/libjpeg-turbo-gcc64
tags
__main__.*
autoortho.*
build/
cache/
downloads/
release/
*.bin
.version
nuitka.log
nuitka-crash-report.xml
autoortho/aoimage/main
autoortho/aoimage/*.dylib