altgraph==0.17.4
bidict==0.22.1
Brotli==1.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.3
ConfigArgParse==1.7
decorator==5.1.1
dnspython==2.3.0
eventlet==0.33.3
exceptiongroup==1.1.3
Flask==2.2.2
Flask-BasicAuth==0.2.0
Flask-Cors==4.0.0
Flask-SocketIO==5.3.4
FreeSimpleGUI==5.1.1
fusepy==3.0.1
future==0.18.3
geocoder==1.38.1
gevent==23.9.1
geventhttpclient==2.0.11
greenlet==2.0.2
idna==3.4
imageio==2.31.5
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
locust==2.19.1
macholib==1.16.3
MarkupSafe==2.1.1
msgpack==1.0.7
Nuitka==1.6.6
numpy==1.26.1
ordered-set==4.1.0
packaging==23.1
Pillow==10.1.0
pluggy==1.2.0
psutil==5.9.2
pyinstaller==6.11.0
pyinstaller-hooks-contrib==2024.9
PySimpleGUI==4.60.4
pytest==7.4.0
python-engineio==4.4.1
python-socketio==5.8.0
pyzmq==25.1.2
ratelim==0.1.6
refuse==0.0.4
requests==2.31.0
roundrobin==0.0.4
six==1.16.0
tomli==2.0.1
urllib3==2.0.4
Werkzeug==2.2.2
zope.event==5.0
zope.interface==6.1
zstandard==0.21.0
