name: Test

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
   
    - name: Setup 
      run: |
          sudo apt-get update && sudo apt-get install -y python3-tk xvfb
          python3 -m pip install -U pytest  
          python3 -m pip install -U -r requirements.txt

    - name: Test
      run: |
        cd autoortho
        pytest --log-level=DEBUG -v test_getortho.py test_pydds.py test_downloader.py


  test-windows:
    runs-on: windows-latest


    steps:
    - uses: actions/checkout@v3
   
    - uses: actions/setup-python@v3
      with:
        python-version: '3.12'

    - name: Setup 
      run: |
          python -m pip install -U -r requirements.txt

    - name: Test
      run: cd autoortho && python -m pytest -v test_getortho.py test_pydds.py test_downloader.py
